.canvas_container {
  position: relative;
  align-self: center;
  justify-self: center;
}

.image_canvas {
  background-color:rgb(34, 159, 42);
}

.cP {
  pointer-events: none; 
  position: absolute;
  height: 10px;
  width: 10px;
  background-color: rgba(255, 238, 0, 0.7);
  border-radius: 50%;
}