.main {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  height: 100%;
}

/* Styles for Parameters */
.parameter_container {
  background: #262433;
}

/* Styles for Display */
.display_container {
  background: #13111e;
}

/* Styles for Uploads and Downloads */
.up_and_down_loads_container {
  background: #262433;
}

.uploaded_images {
  display: grid;
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-size: 14px;

  li {
    padding-left: 10px;
    margin: 0;
  }

  li:nth-child(even) {
    background-color: #1a191f;
  }
  li:nth-child(odd) {
    background-color: #2f2e37;
  }

  li:hover {
    background-color:rgb(166, 77, 0);
    cursor: pointer;
  }
}
