.main {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  height: 100%;
}

/* Styles for Parameters */
.parameter_container {
  background: #231f3a;
}

/* Styles for Display */
.display_container {
  background: #13111e;
  display: flex;
  flex-direction: column;
}

.rectangle_point_wrapper {
  display: flex;
  margin-bottom: 20px;
  height: 50px;
  align-items: center;
  background-color: #13111e;
  color: white;
  font-size: 14px;
  border-bottom: 5px solid #231f3a;
}

.rectangle_point {
  padding: 0 15px;
  height: 100%;
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  border-right: 5px solid #231f3a;
}

.rectangle_point_reset_button {
  margin-left: auto;
  margin-right: 2%;
  height: 40px;
  padding: 0 20px;
  border-radius: 5px;
  border: none;
  text-align: center;
  background-color: #231f3a;
  color: white;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.2s;

  &:hover {
    background-color: #62003b;
  }
}

.selected_image {
  border: 20px solid #231f3a;
  align-self: center;
}

/* Styles for Uploads and Downloads */
.up_and_down_loads_container {
  background: #231f3a;
}

.upload_header {
  text-align: center;
  margin: 20px 0 10px 0;
  color: white;
  font-size: 16px;
}

.upload_form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  justify-content: center;
  align-items: start;
  background-color: #2a2645;
}

.file_input {
  border-radius: 5px;
  border: none;
  color: white;
  font-size: 14px;
  cursor: pointer;
}

.upload_button {
  border-radius: 5px;
  margin-top: 15px;
  padding: 10px 20px;
  width: 80%;
  align-self: center;
  border: none;
  text-align: center;
  background-color:rgb(1, 124, 93);
  color: white;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.2s;

  &:hover {
    background-color:rgb(3, 183, 138);
  }
}

.uploaded_images {
  display: grid;
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-size: 14px;
}

.uploaded_image_wrapper,
.uploaded_image_wrapper_selected {
  display: flex;
  padding-left: 10px;
  margin: 0;
  height: 50px;
  align-items: center;
  transition: background-color 0.2s;
}

.uploaded_image_wrapper_selected {
  background-color: rgb(8, 82, 119);
}

.uploaded_image_wrapper:nth-child(odd) {
  background-color: #2a2645;
}

.uploaded_image_wrapper:hover {
  background-color:rgb(9, 103, 151);
  cursor: pointer;
}

.uploaded_image_delete {
  line-height: 20px;
  font-weight: bold;
  margin-left: auto;
  margin-right: 5%;
  height: 20px;
  width: 20px;
  border: 4px solid #77084a;
  text-align: center;
  background-color: #77084a;
}
.uploaded_image_delete:hover {
  cursor: pointer;
  background-color: #62003b;
}