.main {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  height: 100%;
}

/* Styles for Parameters */
.parameter_container {
  background: #262433;
}

/* Styles for Display */
.display_container {
  background: #13111e;
}

/* Styles for Uploads and Downloads */
.up_and_down_loads_container {
  background: #262433;
}

.uploaded_images {
  display: grid;
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-size: 14px;

  .uploaded_image_wrapper {
    display: flex;
    padding-left: 10px;
    margin: 0;
    height: 50px;
    align-items: center;

    .uploaded_image_delete {
      margin-left: auto;
      margin-right: 10%;
      height: 20px;
      width: 20px;
      border: 1px solid white;
      text-align: center;
    }
    .uploaded_image_delete:hover {
      cursor: pointer;
      background-color: rgb(166, 6, 0);
    }
  }

  .uploaded_image_wrapper:nth-child(even) {
    background-color: #1a191f;
  }
  .uploaded_image_wrapper:nth-child(odd) {
    background-color: #2f2e37;
  }

  .uploaded_image_wrapper:hover {
    background-color: rgb(166, 77, 0);
    cursor: pointer;
  }
}

.rectangle_point_wrapper {
  display: flex;
  margin: 20px 0;
  height: 50px;
  align-items: center;
  background-color: #1a191f;
  color: white;
  font-size: 14px;
  border-top: 5px solid rgb(81, 15, 59);
  border-bottom: 5px solid rgb(81, 15, 59);
}

.rectangle_point {
  padding: 0 15px;
  height: 100%;
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  border-right: 5px solid rgb(81, 15, 59);
}

.rectangle_point_reset_button {
  margin-left: auto;
  margin-right: 2%;
  height: 40px;
  padding: 0 20px;
  border-radius: 5px;
  border: none;
  text-align: center;
  background-color:rgb(56, 4, 39);
  color:white;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.2s;

  &:hover {
    background-color: rgb(98, 0, 59);
  }
}